// :host {
// }
.switch-container {
  display: flex;
  justify-content: space-between;

  input {
    display: none;
  }

  .switch {
    height: 20px;
    width: 32px;
    //   vertical-align: middle;
    /* not quite right */
    background: var(--color-tone-3);
    border-radius: 999px;
    display: block;
    position: relative;

    .knob {
      display: block;
      position: absolute;
      left: 2px;
      top: 2px;
      height: calc(100% - 4px);
      width: 50%;
      border-radius: 8px;
      background: var(--white);
      transform: translateX(0);
      transition: transform 0.3s;
    }
  }

  &[checked="true"] {
    .switch {
      background: var(--color-correct);

      .knob {
        transform: translateX(calc(100% - 4px));
      }
    }
  }

  &[disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;

    > * {
      pointer-events: none;
    }
  }
}
